@model Flowers.Models.Shop
@{
	ViewBag.Title = "Удаление товара";
}

<div class="col-md-6 offset-md-3 text-center">
	<h2>Удалить товар: @Model.Name?</h2>
	<div class="mt-4 mb-3">
		<img src="~/img/@Model.Image">
	</div>
	<dl class="dl-horizontal">
		<dt>Идентификатор - @Model.Id</dt>
		<dt>Цена - @Model.Price <i class="fa fa-ruble-sign"></i></dt>
		<dt>Количество - @Model.Amount</dt>
		<form asp-action="Delete" asp-controller="home" method="post" class="m-3">
			<div class="form-group">
				<input type="submit" class="btn-main" value="Удалить">
			</div>
		</form>
	</dl>
</div>